#main
 {
  font: 14px sans-serif;
 }

.axis path,
.axis line
 {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
 }

.bar
 {
  fill: steelblue;
 }

.x.axis path 
 {
  display: none;
 }
#header
 {
  font-size: 18px;
  font-family: cursive;
  color: #ff8c00;
  padding-left: 250px;
 }
 .toolTip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
}
